name: Deploy to AWS
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: 13.61.15.68
          username: ubuntu
          key: ${{ secrets.AWS_SSH_KEY }}
          script: /home/ubuntu/deploy.sh